/* Reset e Estilos Globais */
:root {
  --primary-color: #3b82f6;
  --secondary-color: #1d4ed8;

  --background-base: #0f172a;
  --background-card: #1e293b;

  --text-color: #f1f5f9;
  --text-muted: #94a3b8;

  --danger-color: #ef4444;
  --success-color: #22c55e;
  --light-gray: #334155;
  --border-color: #334155;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-base);
  padding: 0;
  margin: 0;
}

/* Layout */
.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--background-card);
  border-radius: 8px;
  box-shadow: var(--shadow);
  border: 1px solid var(--border-color);
}
a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s;
}
a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}
